<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= comment.user.name %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= comment.user.name %> at <%= comment.timestamp %> says</span><br>
          <%= comment.body %>
        </p>
      </div>
    </div>
  </div>
</div>