@import "bootstrap";

.navbar-nav-justin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.justin-nav-bar-color {
  background-color: black;
}

.justin-nav-bar-color a {
  color: white;
}

body {
  background-color: rgb(198, 203, 211);
}

.donation_card {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  margin-top: 100px;

}

.donation_card div table tr td span {
  padding-bottom: 20px
}