@import "bootstrap";

.navbar-nav-justin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.justin-nav-bar-color {
  background-color: black;
}

.justin-nav-bar-color a {
  color: white;
}

body {
  background-color: rgb(198, 203, 211);
}

.justin-body-style {
  width: 100%;
}

.comment-card {
  padding: 10px;
}

.justin-card {
  padding: 20px;
}

.justin-index-table {
}

tr td {
  padding: 10px;
}