@import "bootstrap";

.navbar-nav-justin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.justin-nav-bar-color {
  background-color: black;
}

.justin-nav-bar-color a {
  color: white;
}

body {
  background-color: rgb(198, 203, 211);
}

.justin-body-style {
  width: 100%;
}

.comment-card {
  padding: 10px;
}

.justin-card {
  padding: 20px;
  background-color: rgba(198, 203, 211, .9);
}

.justin-index-table {
}

tr td {
  padding: 10px;
}

.donation_card {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 5px;
  margin-top: 100px;

}

.donation_card div table tr td span {
  padding-bottom: 20px
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('e057113a50391b1dfc9f059faa970212.png') no-repeat;
  background-size: cover;
}

.btn-justin {
  background-color: green;
}

